BasedOnStyle: llvm
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Allman
ContinuationIndentWidth: 4
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
SortIncludes: false
SpaceAfterCStyleCast: false

# Local Variables:
# mode: yaml
# End:
